:root {
    --energizing-violet: #873df5;
    --optimistic-yellow: #fffd8c;
    --soft-grey: #d3cfdb;
    --cozy-green: #036e54;
    --hopeful-sage: #d3ecd8;
    --dark-grey: #191c1f;
    --mouse-grey: #59616a;
    --bright-grey: #efebf6;
  }
  @font-face {
    font-family: "darumadropone";
    src: url("DarumadropOne-Regular.ttf");
  }
  @font-face {
    font-family: "quicksand";
    src: url("Quicksand-VariableFont_wght.ttf");
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    margin: 0;
    overflow-x: hidden;
    width: 100vw;
    display: grid;
    grid-template-rows: auto 1fr auto; /* Header, Content, Footer */
  }
  
  header {
    grid-row: 1;
    display: grid;
    grid-template-columns: 1fr auto;
    justify-content: space-between;
    align-items: center;
    margin: 0.5em 2.5em;
  }
  
  nav {
    grid-row: 2;
    margin: 2em;
    text-transform: uppercase;
  }
  

  h1,
  h2,
  h4 {
    font-family: "darumadropone";
    color: var(--dark-grey);
    margin: 0;
  }
  h3 {
    font-family: "quicksand";
    color: var(--energizing-violet);
    font-size: 0.75em;
    margin: 0.1em;
  }
  
  .logo {
    font-family: "darumadropone";
    color: var(--dark-grey);
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 1.5em;
    margin-top: 1em;
  }
  .explain {
    font-family: "darumadropone";
    color: var(--dark-grey);
    text-transform: uppercase;
    font-size: 1em;
  }
  
  .icon {
    background: url(../images/logo3.png);
      height: 1.15em;
      width: 0.75em;
      display: inline-block;
      background-position: bottom;
      background-repeat: no-repeat;
      background-size: cover;
      vertical-align: sub;
  }
  
  
  .section {
    grid-row: 2;
    position: relative;
    margin: 0 1.5em 0 2.5em;
    height: 80vh;
    min-height: fit-content;
    z-index: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  
  .text {
    grid-column: span 2;
    display: flex;
  }
  
  .left,
  .right {
    width: 100%;
  }
  

  .txtright {
    justify-content: end;
  }
  
  .imgleft {
    position: absolute;
    bottom: 20%;
    max-height: 70vh;
    width: auto;
    z-index: -1;
    max-width: 48%;
  }
  
  .imgright {
    position: absolute;
    right: -1.5vw;
    height: 80vh;
    width: auto;
    /* top: 0vh; */
    z-index: -1;
    /* width: 55vw; */
    bottom: 0;
  }
  
  .solidbtn {
    font-family: "quicksand";
    font-size: 0.75em;
    text-transform: uppercase;
    background-color: var(--energizing-violet);
    color: white;
    padding: 1em;
    border: none;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
  }
  
  .gradientbtn {
    font-family: "quicksand";
    font-size: 0.75em;
    text-transform: uppercase;
    color: var(--dark-grey);
    padding: 1em;
    border: none;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    background: linear-gradient(#fff, #fff) padding-box,
      linear-gradient(60deg, #873df5, #fffd8c) border-box;
    border: 3px solid transparent;
    font-weight: 600;
  }
  
  .divider,
  .divider h2 {
    background-color: var(--cozy-green);
    color: white;
    padding: 2em;
    text-align: center;
  }
  
  .divider p {
    font-family: "quicksand";
    margin-bottom: 3em;
    padding: 0 5vw;
  }
  
  .videodivider {
    height: 100vh;
  }
  
  video {
    max-height: 55vh;
    max-width: 90vw;
  }
  
  footer {
    grid-row: 3;
    padding: 10vh 5vw;
    background-color: var(--dark-grey);
    text-align: center;
  }
  
  footer a {
    color: white;
    font-family: "quicksand";
    text-decoration: none;
  }  
  @media only screen and (max-width: 1100px) {
    /* ... (unchanged styles) */
  
    body {
      grid-template-rows: auto 1fr auto; /* Header, Content, Footer */
    }
  
    header {
      grid-template-columns: 1fr;
      margin: 0 4vw;
    }
  
    /* ... (other adjustments for smaller screens) */
  }
  