:root {
  --energizing-violet: #873df5;
  --optimistic-yellow: #fffd8c;
  --soft-grey: #d3cfdb;
  --cozy-green: #036e54;
  --hopeful-sage: #d3ecd8;
  --dark-grey: #191c1f;
  --mouse-grey: #59616a;
  --bright-grey: #efebf6;
}

@font-face {
  font-family: "darumadropone";
  src: url("DarumadropOne-Regular.ttf");
}
@font-face {
  font-family: "quicksand";
  src: url("Quicksand-VariableFont_wght.ttf");
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  display: grid;
  overflow-x: hidden;
  margin: 0 auto;
}

h1,
h2,
h4 {
  font-family: "darumadropone";
  color: var(--dark-grey);
  margin: 0;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 40px;
}
h3 {
  font-family: "quicksand";
  color: var(--energizing-violet);
  font-size: 0.75em;
  margin: 0.1em;
}
.bk p {
  margin: 0;
  margin-top: -15px;
}
.logo {
  font-family: "darumadropone";
  color: var(--dark-grey);
  text-transform: uppercase;
  font-weight: 500;
  font-size: 3em;
}
.explain {
  font-family: "quicksand";
  color: var(--dark-grey);
  text-transform: uppercase;
  font-weight: 400;
  border-bottom: 2px solid #191c1f;
  text-align: center;
}
.explain span {
  font-size: 0.75em !important;
  background-color: white;
  padding: 0 5px;
}

.icon {
  background: url(../images/logo/logo3.svg);
  height: 1.15em;
  width: 0.75em;
  display: inline-block;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  vertical-align: sub;
}
header {
  display: flex;
  justify-content: space-between;
  /* margin: 0.5em auto; */
  max-width: 1300px;
  height: 5vh;
  padding: 0 5vw;
  padding-top: 4vh;
  margin: 0 auto;
  width: 100%;
}
header a {
  text-decoration: none;
}

nav {
  margin: 2em;
  text-transform: uppercase;
}

nav a {
  font-family: "quicksand";
  color: var(--cozy-green);
  font-weight: bold;
  padding-right: 1em;
}
a {
  text-decoration: none;
}
.background {
  width: 100%;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(3, 110, 84, 0) 70%,
    rgba(211, 236, 216, 1) 100%
  );
}

.background.solidbg {
  background-color: rgba(211, 236, 216, 1);
}

.section {
  position: relative;
  margin: 1.5em auto 0 auto;
  padding: 5vh 5vw;
  min-height: fit-content;
  z-index: 1;
  display: grid;
  grid-template-columns: 50% 50%;
  justify-items: center;
  max-width: 1300px;
}
.section a {
  text-align: center;
}
.left {
  display: block;
  height: 80vh;
}
.left .info {
  display: grid;
  grid-template-columns: 60% 40%;
}
.left h1,
.left h3,
.left .text {
  grid-column: 1;
}
.left h1 {
  grid-column: 1 / span 2;
  padding-bottom: 1em;
}

.section p {
  font-family: "quicksand";
  margin-bottom: 3em;
  line-height: 1.5em;
}
#project,
.videosection {
  /* margin-top: 20vh; */
  scroll-margin-top: 20vh;
}

#project {
  text-align: left;
  background-color: var(--cozy-green);
  color: white;
  padding-bottom: 15vh;
  padding-top: 5vh;
}
#project h2 {
  color: white;
  line-height: 36px;
  padding-bottom: 0.5em;
}
#project h3 {
  color: var(--optimistic-yellow);
}
#project p {
  line-height: 1.75em;
  margin-bottom: 1em;
}

#project .section {
  gap: 3%;
}

#project .gradientbtn {
  border-radius: 30px 0px;
  border: 3px solid var(--optimistic-yellow, #fffd8c);
  color: var(--bright-grey);
  background: none;
  color: white;
  height: fit-content;
  width: fit-content;
  display: inline-flex;
  padding: 15px 25px;
  align-items: center;
  gap: 15px;
}

.section img,
#videobg {
  width: 100%;
  max-height: 100vh;
  max-width: 90vw;
}

.left img {
  width: unset;
  max-height: 100vh;
  /* max-width: 100%; */
  height: 55vh;
  /* position: absolute; */
  grid-row: 3 / span 2;
  grid-column: 2;
  /* left: 4%; */
  /* display: flow; */
  margin-left: -6em;
}

.fullscreenSection {
  display: block;
}

.fullscreenSection p {
  white-space: pre-line;
}

.wrap {
  float: right;
  width: 50%; /* Adjust the width based on your layout */
  max-width: 100%;
  height: auto;
  margin-left: 3em;
}

.solidbtn {
  font-family: "quicksand";
  font-size: 0.75em;
  text-transform: uppercase;
  background-color: var(--energizing-violet);
  color: white;
  border: none;
  border-radius: 30px 0px;
  cursor: pointer;
  height: fit-content;
  width: fit-content;
  display: inline-flex;
  padding: 15px 25px;
  align-items: center;
  gap: 15px;
}

.gradientbtn {
  font-family: "quicksand";
  font-size: 0.75em;
  text-transform: uppercase;
  color: var(--dark-grey);
  padding: 1em;
  border: none;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 15px;
  background: linear-gradient(#fff, #fff) padding-box,
    linear-gradient(60deg, #873df5, #fffd8c) border-box;
  border: 3px solid transparent;
  font-weight: 600;
}

.divider,
.divider h2 {
  background-color: var(--cozy-green);
  color: white;
  padding: 2em 5vw;
  text-align: center;
}
.divider {
  padding-bottom: 10em;
}
.divider p {
  font-family: "quicksand";
}
.split h2 {
  max-width: 1300px;
  margin: 0 auto;

  text-align: left;
  padding: 0 0 1.5em 0;
}
.split h3 {
  max-width: 1300px;
  margin: 0 auto;
  text-align: left;
  padding: 1.5em 0 0 0;
  color: var(--optimistic-yellow);
}
.split p {
  margin: 0 auto;
  text-align: left;
  column-count: 2;
  column-gap: 3em;
  column-fill: auto;
  height: 90vh;
  line-height: 1.75em;
  white-space: pre-line;
  line-break: auto;
  max-width: 1300px;
}

.split ul {
  font-family: "quicksand";
  margin: 0 auto;
  text-align: left;
  column-count: 2;
  column-gap: 3em;
  column-fill: auto;
  height: 80vh;
  line-height: 1.75em;
  /* white-space: pre-line;
  line-break: auto; */
  max-width: 1300px;
}
.split li {
  margin: 1em 0;
}
.videosection {
  grid-template-columns: unset;
}
#videobg {
  aspect-ratio: 3/1.75;
  display: grid;
  align-content: center;
  justify-content: center;
  margin: 0 auto;
  background: #59616a;
}

.videosection .text {
  padding: 8vh 25vw;
  text-align: center;
  line-height: 2em;
}
.videosection h1 {
  text-align: center;
}
.column-wrapper {
  font-family: "quicksand";
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: space-around;
  justify-content: center;
  gap: 3em;
  padding-top: 3em;
  padding-bottom: 4em;
  justify-items: center;
  justify-content: center;
  max-width: 1300px;
  margin: 0 auto;
}
.hotline h2 {
  background-color: unset;
}
.hotline {
  /* position: absolute; */
  left: 50%;
  /* transform: translateX(-50%); */
  width: 60%;
  color: var(--dark-grey);
  text-align: left;
  border-radius: 30px;
  border: 3px solid var(--energizing-violet);
  background: var(--soft-grey);
  margin: -10vh auto 5vh auto;
}
.hotline .column-wrapper {
  padding-top: unset;
  padding-bottom: 2em;
}
.hotline h4 {
  font-size: 25px;
  padding: 2em 5vw;
  text-align: center;
  color: var(--dark-grey);
}
.column a {
  font-weight: 700;
  text-decoration: none;
  font-family: "quicksand";
  color: var(--dark-grey);
}
.column p a {
  font-weight: normal;
}
.fact {
  text-align: center;
}
.fact span {
  font-weight: 700;
}
.column svg {
  width: 80px;
  height: 80px;
}

.purpleLine {
  width: 150px;
  border-bottom: 2px solid var(--energizing-violet);
  height: 5vh;
  margin: 0 auto;
  margin-bottom: 5vh;
}

footer {
  padding-top: 9vh;
  background-color: var(--dark-grey);
  max-width: 100%;
  text-align: center;
  padding: 10vh 5vw;
  color: var(--bright-grey);
}

footer p {
  text-align: left;
  font-family: "quicksand";
  max-width: 40vw;

  margin: 0 auto;
}
footer > p {
  text-align: center;
}
footer a {
  color: white;
  font-family: "quicksand";
  text-decoration: none;
}

footer .bk {
  width: fit-content;
  margin: 0 auto;
}
footer .explain,
footer .explain span,
footer .logo {
  color: var(--bright-grey);
}

footer .logo {
  width: fit-content;
  white-space: nowrap;
}

footer .explain {
  border-bottom: 1px solid var(--soft-grey);
}
footer .explain span {
  background-color: var(--dark-grey);
  font-size: 0.5em !important;
}
.pf {
  color: var(--bright-grey);
  text-align: center;
}
footer .column-wrapper {
  text-align: left;
  justify-items: start;
  justify-content: center;
  max-width: 1300px;
  margin: 0 auto;
}

footer .icon {
  background: url(../images/logo/logo3w.svg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
footer .column svg {
  width: 24px;
  height: 24px;
}
footer .column,
.row {
  display: grid;
  grid-auto-rows: min-content;
  gap: 1em;
  justify-items: start;
}
.column p {
  /* justify-self: start; */
  width: 100%;
}

.row {
  gap: 1em;
}
.column > .row:not(:first-child) {
  padding-top: 2em;
}
footer .column a {
  color: var(--bright-grey);
  text-align: left;
}

.svgp {
  display: grid;
  /* grid-column: 1; */
  grid-template-columns: 24px 1fr;
  gap: 10px;
  align-items: center;
}
/* .svgp p{
  margin: 0;
} */

.svgp a {
  font-weight: normal;
}

.drop{
  display: none;
}

.footerlinks {
  padding-top: 5em;
  display: grid;
  width: 60%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: space-between;
  margin: 0 auto;
}
@media only screen and (max-width: 1300px) and (min-width: 800px) {
  .fullscreenSection .text {
    display: grid !important;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
  }
  .wrap {
    float: unset;
    margin: unset;
    height: 40vh !important;
    align-self: center;
  }
  .hotline {
    width: 80vw;
  }
}

/* Small devices (small laptops, tablets and phones, 1100px and down) */
@media only screen and (max-width: 1100px) {
  body {
    max-width: 100%;
    overflow-x: hidden;
  }
  header {
    height: fit-content;
  }

  h1,
  h3 {
    margin: 0.1vh 4vw;
  }
  h2 {
    font-size: 1.2em;
    font-weight: 300;
  }

  .section {
    height: fit-content;
    margin: unset;
    grid-template-columns: auto;
  }
  .videosection {
    margin: 15vh 0 0 1em;
    padding: 1em;
  }

  .text {
    display: block;
    /* margin: 0 4vw; */
  }
  .left,
  .right {
    width: unset;
  }
  section p,
  .divider p {
    line-height: 1.75em;
  }

  .gradientbtn {
    background: linear-gradient(#daeedc, #daeedc) padding-box,
      linear-gradient(60deg, #873df5, #fffd8c) border-box;
    margin-bottom: 8vh;
  }

  video {
    max-width: 80vw;
  }
  footer {
    font-size: larger;
  }
  .left {
    width: 100vw;
    box-sizing: border-box;
  }
  .left .info {
    display: block;
  }
  .left h3,
  .left h1 {
    margin: unset;
  }
  .left img {
    margin: unset;
  }
  .column-wrapper {
    grid-template-columns: 70%;
  }
  .videosection{
    margin: 5vh 0 0 0;
    padding: 0;
  }
  .videosection .text{
    padding: 4vh 20vw;
  }
  #project{
    padding-bottom: 0;
  }
 footer p{
  max-width: 80vw;
  }
  .footerlinks{
    width: 80%;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1em;

  }
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 800px) {
  .section .info + img {
    padding-top: 4vh;
  }
  .section img {
    /* width: 100%; */
    height: auto;
  }

  .hotline {
    width: 95vw;
  }
  .hotline h4 {
    padding: 1em 5vw;
  }

  header {
    height: unset;
    margin: unset;
    justify-content: space-around;
  }

  nav {
    display: none;
  }
  .drop{
    display: flex;
  }
}
/* Extra small devices (phones, 400px and down) */
@media only screen and (max-width: 500px) {
  .logo {
    font-size: 2em;
  }
  footer {
    white-space: pre-line;
  }
}
