
:root {
  --energizing-violet: #873df5;
  --optimistic-yellow: #fffd8c;
  --soft-grey: #d3cfdb;
  --cozy-green: #036e54;
  --hopeful-sage: #d3ecd8;
  --dark-grey: #191c1f;
  --mouse-grey: #59616a;
  --bright-grey: #efebf6;
}

@font-face {
  font-family: "darumadropone";
  src: url("DarumadropOne-Regular.ttf");
}
@font-face {
  font-family: "quicksand";
  src: url("Quicksand-VariableFont_wght.ttf");
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  display: grid;
  margin: 0;
  margin: 0 auto;
  overflow-x: hidden;
}

h1,
h2,
h4 {
  color: var(--dark-grey);
  font-family: "darumadropone";
  margin: 0;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 40px;
}
h3 {
  color: var(--energizing-violet);
  font-family: "quicksand";
  font-size: 0.75em;
  margin: 0.1em;
}
li{
  font-family: "quicksand";
}
.bk p {
  margin: 0;
  margin-top: -15px;
}
.logo {
  color: var(--dark-grey);
  font-family: "darumadropone";
  font-size: 3em;
  font-weight: 500;
  text-transform: uppercase;
}
.explain {
  color: var(--dark-grey);
  font-family: "quicksand";
  font-weight: 400;
  position: relative;
  /* border-bottom: 2px solid #191c1f; */
  text-align: center;
  text-transform: uppercase;
}
header .explain::before {
  background-color: rgb(0, 0, 0);
  /* border: aqua; */
  bottom: -2px;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  width: 30%;
}
header .explain::after {
  background-color: rgb(0, 0, 0);
  /* border: aqua; */
  bottom: -2px;
  content: "";
  height: 2px;
  position: absolute;
  right: 0;
  width: 30%;
}

footer .explain::after, footer .explain::before{
  background-color: var(--soft-grey);
}


.explain span {
  font-size: 0.75em !important;
  /* background-color: #7E8C9A; */
  padding: 0 5px;
}

.icon {
  background: url("../images/logo/logo3.svg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  height: 1.15em;
  vertical-align: sub;
  width: 0.75em;
}
header {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  /* margin: 0.5em auto; */
  max-width: 1300px;
  /* height: 5vh; */
 padding: 0 2em;
  padding-top: 4vh;
  width: 100%;
  z-index: 999;
}
header a {
  text-decoration: none;
}

nav {
  margin: 2em;
  text-transform: uppercase;
}

nav a {
  color: var(--cozy-green);
  font-family: "quicksand";
  font-weight: bold;
  padding-right: 1em;
}
a {
  text-decoration: none;
}
.background {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(3, 110, 84, 0) 70%,
    rgba(211, 236, 216, 1) 100%
  );
  width: 100%;
}

.background.solidbg {
  background-color: rgba(211, 236, 216, 1);
  bottom: 0;
  left: 0;
  position: absolute;
  top: 0;
}

.herobean{
  background-color: lightgray;
  bottom: 0;
  height: 100%;
  overflow-x: hidden;
  position: absolute;
  width: 100%;
  z-index: 0;
  /* top: -20vh; */
}

.herobean img{
    bottom: 0;
    height: auto;
    min-height: 100%;
    opacity: 0.6;
    /* height: 100%; */
    position: absolute;
  width: 100%;
}
.section {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-items: center;
  margin: 1.5em auto 0 auto;
  max-width: 1300px;
  min-height: min-content;
  padding: 5vh 2em;
  position: relative;
  z-index: 1;
}
.section a {
  text-align: center;
}

.left {
  display: block;
  min-height: 80vh;
}
.left .info {
  display: grid;
  grid-template-columns: 60% 40%;
}
.left h1,
.left h3,
.left .text {
  grid-column: 1;
}
.left h1 {
  grid-column: 1 / span 2;
  padding-bottom: 1em;
}

.section p {
  font-family: "quicksand";
  line-height: 1.5em;
  margin-bottom: 3em;
}
#project,
.videosection {
  /* margin-top: 20vh; */
  scroll-margin-top: 20vh;
}

#project {
  background-color: var(--cozy-green);
  color: white;
  padding: 15vh 0;
  text-align: left;

}
#project h2 {
  color: white;
  line-height: 36px;
  padding-bottom: 0.5em;
}
#project h3 {
  color: var(--optimistic-yellow);
}
#project p {
  line-height: 1.75em;
  margin-bottom: 1em;
}

#project .section {
align-items: center;
  gap: 2em;
  grid-template-columns: auto auto;
    justify-content: start;
    margin: 0;
  max-width: 100vw;
    padding-left: 0;
}

#project .gradientbtn {
  align-items: center;
  background: none;
  border: 3px solid var(--optimistic-yellow, #fffd8c);
  border-radius: 30px 0px;
  color: var(--bright-grey);
  color: white;
  display: inline-flex;
  gap: 15px;
  height: min-content;
  padding: 15px 25px;
  width: auto;
}

#project .info{
  width: 70%;
}

.section img,
#videobg {
  /* width: 100%; */
  max-height: 100vh;
  /* max-width: 90%; */
}
.right img{
  /* max-width: 90%; */
}

.left img {
  grid-column: 2;
  /* position: absolute; */
  grid-row: 3 / span 2;
  /* max-width: 100%; */
  height: 55vh;
  /* left: 4%; */
  /* display: flow; */
  margin-left: -6em;
  max-height: 100vh;
  width: unset;
}
.bean{
  position: unset;
    display: flex;
    align-items: center;
}
#bean{
  height: unset;
  max-height: 130vh;
  position: absolute;
  right: 0;
  top: 0;
}
.depression {
  position: relative;
  z-index: 1;
}
.depression a{
  color: var(--bright-grey);
  text-decoration: none;
  padding: 1em 0;
  font-size: 14px;
  max-width: 100%;
  word-wrap: break-word;

}

.fullscreenSection {
  display: block;
}

.fullscreenSection p {
  white-space: pre-line;
}

.wrap {
  float: right;
  height: auto;
  margin-left: 3em;
  max-width: 100%;
  width: 50%; /* Adjust the width based on your layout */
}

.solidbtn {
  align-items: center;
  background-color: var(--energizing-violet);
  border: none;
  border-radius: 30px 0px;
  color: white;
  cursor: pointer;
  display: inline-flex;
  font-family: "quicksand";
  font-size: 0.75em;
  gap: 15px;
  height: min-content;
  padding: 15px 25px;
  text-transform: uppercase;
  width: auto;
}

.gradientbtn {
  background: linear-gradient(#fff, #fff) padding-box,
    linear-gradient(60deg, #873df5, #fffd8c) border-box;
  border: none;
  border: 3px solid transparent;

  border-bottom-right-radius: 15px;
  border-top-left-radius: 15px;
  color: var(--dark-grey);
  cursor: pointer;
  font-family: "quicksand";
  font-size: 0.75em;
  font-weight: 600;
  padding: 1em;
  text-transform: uppercase;
}

.divider,
.divider h2 {
  background-color: var(--cozy-green);
  color: white;
  padding: 2em 5%;
  text-align: center;
}
.divider {
  padding-bottom: 10em;
}
.divider p {
  font-family: "quicksand";
}
.split h2 {
  margin: 0 auto;
  max-width: 1300px;
  padding: 0 0 1.5em 0;

  text-align: left;
}
.split h3 {
  color: var(--optimistic-yellow);
  margin: 0 auto;
  max-width: 1300px;
  padding: 1.5em 0 0 0;
  text-align: left;
}
.twoCol, #liCol{
  display: grid;
  gap: 2em;
  grid-template-columns: 50% 50%;
  margin: 0 auto;
  max-width: 1300px;
}
.twoCol a{
  margin-bottom: 1em;
}
.white{
  background-color: var(--bright-grey);
}
.white h2{
  background-color: var(--bright-grey);
  color: var(--dark-grey);
}
.white a{
  color: var(--dark-grey);
  font-size: 14px;
}
.white .leftCol, .white .rightCol{
  color: var(--dark-grey);
  display: grid;
  gap: 2em;
  grid-template-rows: 50% 50%;
}

.green {
  color: var(--dark-grey);
  background-color: var(--hopeful-sage);
}

.green h2 {
  background-color: var(--hopeful-sage);
  color: var(--dark-grey);
}

.green a {
  color: var(--dark-grey);
  font-size: 14px;
}

.noLi{
  list-style: none;
}

.split p {
  height: auto;
  line-break: auto;
  line-height: 2em;
  margin: 0 auto;
  max-width: 1300px;
  text-align: left;
}
 .leftCol {
  grid-column: 1;
  width: 100%;
}
.rightCol {
    grid-column: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 100%;


}
.rightCol ul+ p {
font-size: 14px;
}
.spaced .leftCol, .spaced .rightCol {
  
  gap: 2em;
}
.spaced .rightCol span, .spaced .leftCol span{
 
}

.split ul {
  font-family: "quicksand";
  line-height: 1.75em;
  margin: 0 auto;
  /* white-space: pre-line;
  line-break: auto; */
  max-width: 1300px;
  text-align: left;
}
.split li {
  margin: 1em 0;
}
.videosection {
  grid-template-columns: unset;
}
#videobg {
  align-content: center;
  aspect-ratio: 3/1.75;
  display: grid;
  justify-content: center;
  margin: 0 auto;
  position: relative;
  

}
#videobg::before {
  align-content: center;
  aspect-ratio: 3/1.75;
  background-image: url("../images/carousel/1.Buchcover-min.jpg");
 background-size: contain;
  bottom: 0px;
  content: "";
  display: grid;
  justify-content: center;
  left: 0px;
  margin: 0 auto;
  opacity: 0.75;

  position: absolute;
  right: 0px;
  top: 0px;


}

 svg{
  z-index: 9999;
}
.videosection .text {
  line-height: 2em;
  padding: 8vh 25%;
  text-align: center;
}
.videosection h1 {
  text-align: center;
}

.column-wrapper {
  display: grid;
  font-family: "quicksand";
  gap: 3em;
  grid-template-columns: repeat(3, auto);
  justify-content: space-around;
  justify-content: center;
  justify-content: center;
  justify-items: center;
  align-items: baseline;
  margin: 0 auto;
  max-width: 1300px;
  padding-bottom: 4em;
  padding-top: 3em;
}

#facts {
  position: relative;
}

.hotline h2 {
  background-color: unset;
}
.hotline {
  background: var(--soft-grey);
  border: 3px solid var(--energizing-violet);
  border-radius: 30px;
  color: var(--dark-grey);
  left: 50%;
  margin: -10vh auto 5vh auto;
  margin: 0;
  position: absolute;
  text-align: left;
  top: unset !important;
  transform: translateX(-50%);
  width: 60%;
}
.hotline .column-wrapper {
  padding-bottom: 2em;
  padding-top: unset;
}
.hotline h4 {
  color: var(--dark-grey);
  font-size: 25px;
  padding: 2em 5%;
  text-align: center;
}
.column a {
  color: var(--dark-grey);
  font-family: "quicksand";
  font-weight: 700;
  text-decoration: none;
}
.column p a {
  font-weight: normal;
}
.fact {
  text-align: center;
}
.fact span {
  font-weight: 700;
}
footer .column svg {
  height: 80px;
  width: 80px;
}

.purpleLine {
  border-bottom: 2px solid var(--energizing-violet);
  height: 5vh;
  margin: 0 auto;
  margin-bottom: 5vh;
  width: 150px;
}
.purpleLine+ p{
  font-weight: 600;
  text-align: center;
}

footer {
  background-color: var(--dark-grey);
  color: var(--bright-grey);
  max-width: 100%;
  padding: 10vh 5%;
  padding-top: 9vh;
  text-align: center;
}

footer p {
  font-family: "quicksand";

  margin: 0 auto;
  text-align: left;
}
footer > p {
  max-width: 40%;

  text-align: center;
}
footer a {
  color: white;
  font-family: "quicksand";
  text-decoration: none;
}

footer .bk {
  margin: 0 auto;
  width: min-content;
}
footer .explain,
footer .explain span,
footer .logo {
  color: var(--bright-grey);
}

footer .logo {
  white-space: nowrap;
  width: min-content;
}

footer .explain {
  border-bottom: 1px solid var(--soft-grey);
}
footer .explain span {
  background-color: var(--dark-grey);
  font-size: 0.5em !important;
}
.pf {
  color: var(--bright-grey);
  text-align: center;
}
footer .column-wrapper {
  justify-content: center;
  justify-items: start;
  margin: 0 auto;
  max-width: 1300px;
  text-align: left;
}

footer .icon {
  background: url("../images/logo/logo3w.svg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
footer .column svg {
  height: 24px;
  width: 24px;
}
footer .column,
.row {
  display: grid;
  gap: 1em;
  grid-auto-rows: min-content;
  justify-items: start;
}
.column p {
  /* justify-self: start; */
  width: 100%;
}

.row {
  gap: 1em;
}
.column > .row:not(:first-child) {
  padding-top: 2em;
}
footer .column a {
  color: var(--bright-grey);
  text-align: left;
}

.svgp {
  align-items: center;
  display: grid;
  gap: 10px;
  /* grid-column: 1; */
  grid-template-columns: 24px 1fr;
}
/* .svgp p{
  margin: 0;
} */

.svgp a {
  font-weight: normal;
}

.svg1, .svg2, .svg3, .svg4{
  display: none;
  transform: rotate(-90deg);
}

.dropdown-content {
  gap: 10px;
}

.footerlinks {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 5em;
  width: 60%;
}
@media only screen and (max-width: 1300px) and (min-width: 800px) {
  .fullscreenSection .text {
    display: grid !important;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
  }
  .wrap {
    align-self: center;
    float: unset;
    height: 40vh !important;
    margin: unset;
  }

}

/* Small devices (small laptops, tablets and phones, 1100px and down) */
@media only screen and (max-width: 1100px) {
  body {
    max-width: 100%;
    overflow-x: hidden;
  }
  header {
    height: min-content;
    padding-left: 2em;
  }

  h2 {
    font-size: 1.2em;
    font-weight: 300;
  }

  .section {
    grid-template-columns: auto;
    height: min-content;
    margin: unset;
    padding: 2em;
  }


  .text {
    display: block;
    /* margin: 0 4%; */
  }
  .left,
  .right {
    width: unset;
  }
  
  .divider {
    padding: 3em 0;
    max-width: 100vw;
  }

  .twoCol, #liCol{
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: space-around;
    max-width: 100%;
    gap: 0.75em;
    justify-content: baseline;
  }

  .split {
    padding: 2em 3%;
  }

  .split p ,  .split p  { 
    height: auto;
    width: 90%;
  }
 
  .white .leftCol, .white .rightCol {
    grid-template-rows: auto;
  }

  .split p{
    width: 100%;
  }

  .hotline {
    margin: 0;
    top: unset !important;
  }
  .divider > .column-wrapper {
    grid-template-columns: 60%;
  }
  section p,
  .divider p {
    line-height: 1.75em;
  }
  .info{
    max-width: 90%;
  }

  .column-wrapper {
    gap: 2em;
    grid-template-columns: 70%;
    padding: 0;
  }
  footer .column,
  .row {
    gap: 2em;
  }
  .gradientbtn {
    background: linear-gradient(#daeedc, #daeedc) padding-box,
      linear-gradient(60deg, #873df5, #fffd8c) border-box;
    margin-bottom: 8vh;
  }

  video {
    max-width: 80%;
  }
  footer {
    font-size: larger;
  }
  .left {
    box-sizing: border-box;
    width: 100%;
  }
  .left h1 {
    line-height: 1em;
    padding-bottom: 0.5em;
  }
  .left .info {
    display: grid;
    gap: 2em;
    grid-template-columns: auto;
    margin: 0 auto;
  }
  .left h3,
  .left h1 {
    grid-column: unset;
    margin: unset;
  }
  .left img {
    grid-column: unset;
grid-row: unset;
    height: unset;
    margin: 0 auto;
  }
  .left .text {
    display: grid;
    grid-template-columns: auto;
  }
  .section a {
    text-align: left;
}

.videosection {
  padding: 7vh 0 0 0;
}
  .videosection .text {
    padding: 5vh 20%;
  }
  #project {
    padding-bottom: 0;
    /* padding-left: 1em;
    padding-right: 1em; */
  }
  footer > p {
    max-width: 90%;
    text-align: center;
  }
  .footerlinks {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 1em;
    width: 80%;
  }
  .column > .row:not(:first-child) {
    padding-top: 0;
  }
  #project {
    width: 100%;
  }
  .info {
    margin: 0;
    width: 100%;
  }

  .section p {
    width: 90%;
  }

  #project{
    padding: 0;
  }
  #project .section {
    justify-content: center;
grid-template-columns: auto;  
padding: 0 0 2em 0;
}

  .bean .info{
    display: block;
  }
  .bean p{
    margin: 0;
  }
#bean{
  height: 40vh;
  position: relative;
}
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 800px) {

.bk p{
  margin-top: -5px;
}
.explain span{
  font-size: 0.75em !important;

}
  .section .info + img {
    padding-top: 4vh;
  }
  .section img {
    height: auto;
    width: 100%;
  }

  h2 {
    font-size: 2em;
  }

  .hotline h4 {
    padding: 1em 5%;
  }

  header {
    height: unset;
    justify-content: space-around;
    margin: unset;
    padding: 1em 0;
    width: 100%;
  }

  nav {
    display: none;
  }
  .drop {
    display: flex;
  }
  .left h1 {
    font-size: 1.75em;
    padding-bottom: 0;
  }
  svg{
    z-index: 999;
  }
  .twoCol, #liCol{
    display: block;
    line-break: auto;
  }
  .herobean {
    top: -20vh;
    height: 120vh;
    min-height: 70vh;
    right: 0;
  }
  .herobean img{
    height: 120vh;
    width: auto;
  }
  .herobean + .left {
    min-height: 50vh;
}
 
#bean{
  height: auto;
}
}
/* Extra small devices (phones, 400px and down) */
@media only screen and (max-width: 600px) {
  .split p {
    column-count: unset;
  }
  .logo {
    font-size: 2em;
  }
  .bk p {
    
    margin-top: -5px;
}
header .explain::before {
  width: 20%;
}
header .explain::after {
  width: 20%;
}
  .drop {
    pointer-events: all;
    position: relative;
  }
  .svg1, .svg2, .svg3, .svg4{
    display: block;
  }
  .drop a {
    pointer-events: none;
  }
  .column-wrapper {
    grid-template-columns: auto;
  }
  footer .column-wrapper {
    font-size: 1em;
    grid-template-columns: 80%;
  }
  footer .column,
  .row {
    gap: 1em;
  }
  #facts h2 {
    padding: 1em 0;
  }
  .herobean{
    height: 210vw;
  }
  .herobean img{
    
    right: -50%;
  }
  .dropdown-content {
    display: none;
    gap: 15px;
    /* position: absolute;
    top: 100%;
    left: 0; */
    /* width: 100%; */
  }
  .hotline {
    width: 85%;
  }

 

  .divider > .column-wrapper {
    grid-template-columns: 80%;
  }
  .videosection h1 {
    font-size: 2em;
  }
  .videosection {
    justify-content: center;
    margin: 0;
    margin-top: 4vh;
    max-width: 100%;
  }
  .videosection .text {
    padding: 5vh 1em;
}
  #videobg {
    align-content: center;
    aspect-ratio: 3/1.75;
    background-image: url("images/carousel/1.Buchcover-min.jpg");
    display: grid;
    justify-content: center;
    margin: 0 auto;
  }
  #videobg > svg{
    width: 5em
  }
  .left .info {
  gap: 0;
  }
  footer p {
    font-size: 1em;
    line-height: 1.25em;
  }
  footer .explain {
    margin-bottom: 5px;
  }

  .footerlinks {
    grid-template-columns: 1fr;
    row-gap: 1em;
    width: 80%;
  }
  .rotate{
    transform: rotate(0) !important;
  }
  .display{
    display: grid ;
  }
}
@media only screen and (max-width: 600px) { */
footer p, footer .column-wrapper{
  font-size: 0.9em;
}
footer .column a{
  font-size: 18px;
}

}
@media (orientation: landscape)and (max-height: 800px) {
  .herobean, .herobean img{
height: 140vh;
  }
  .left .info {
    gap: 0;
    }
}