:root {
  --energizing-violet: #873df5;
  --optimistic-yellow: #fffd8c;
  --soft-grey: #d3cfdb;
  --cozy-green: #036e54;
  --hopeful-sage: #d3ecd8;
  --dark-grey: #191c1f;
  --mouse-grey: #59616a;
  --bright-grey: #efebf6;
}

@font-face {
  font-family: "darumadropone";
  src: url("DarumadropOne-Regular.ttf");
}
@font-face {
  font-family: "quicksand";
  src: url("Quicksand-VariableFont_wght.ttf");
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  display: grid;
}

h1,
h2,
h4 {
  font-family: "darumadropone";
  color: var(--dark-grey);
  margin: 0;
}
h3 {
  font-family: "quicksand";
  color: var(--energizing-violet);
  font-size: 0.75em;
  margin: 0.1em;
}
.bk p {
  margin: 0;
}
.logo {
  font-family: "darumadropone";
  color: var(--dark-grey);
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 3em;
}
#explain {
  font-family: "quicksand";
  color: var(--dark-grey);
  text-transform: uppercase;
  font-weight: 200;
  border-bottom: 1px solid #191c1f;
  text-align: center;
}
#explain span {
  font-size: 1em !important;
  background-color: white;
  padding: 0 5px;
}

.icon {
  background: url(../images/logo/logo3.png);
  height: 1.15em;
  width: 0.75em;
  display: inline-block;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  vertical-align: sub;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 0.5em 2.5em;
  max-width: 95vw;
  height: 20vh;
  padding: 0 5vw;
  padding-top: 4vh;
  margin: 0 1.5em 0 2.5em;
}

nav {
  margin: 2em;
  text-transform: uppercase;
}

nav a {
  font-family: "quicksand";
  color: var(--cozy-green);
  font-weight: bold;
  padding-right: 1em;
}
a {
  text-decoration: none;
}
.background {
  width: 100vw;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(3, 110, 84, 0) 70%,
    rgba(211, 236, 216, 1) 100%
  );
}

.section {
  position: relative;
  margin: 0 1.5em 0 2.5em;
  padding: 5vh 5vw;
  min-height: fit-content;
  z-index: 1;
  display: grid;
  grid-template-columns: 40% 1fr;
}
.right {
  grid-template-columns: 1fr 40%;
}

.section p {
  font-family: "quicksand";
  margin-bottom: 3em;
}
#project {
  margin-top: 20vh;
  scroll-margin-top: 20vh;
}

.section img {
  width: auto;
  height: 80%;
  justify-self: center;
}

.solidbtn {
  font-family: "quicksand";
  font-size: 0.75em;
  text-transform: uppercase;
  background-color: var(--energizing-violet);
  color: white;
  padding: 1em;
  border: none;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 15px;
  /* line-height: 1em; */
  height: fit-content;
  width: fit-content;
}

.gradientbtn {
  font-family: "quicksand";
  font-size: 0.75em;
  text-transform: uppercase;
  color: var(--dark-grey);
  padding: 1em;
  border: none;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 15px;
  background: linear-gradient(#fff, #fff) padding-box,
    linear-gradient(60deg, #873df5, #fffd8c) border-box;
  border: 3px solid transparent;
  font-weight: 600;
}

.divider,
.divider h2 {
  background-color: var(--cozy-green);
  color: white;
  padding: 2em 5vw;
  text-align: center;
}

.divider p {
  font-family: "quicksand";
  margin-bottom: 3em;
  padding: 0 5vw;
}

.videodivider {
  height: 100vh;
}

.videodivider img {
  max-height: 55vh;
  max-width: 90vw;
}

footer {
  padding-top: 9vh;
  background-color: var(--dark-grey);
  /* height: 15vh; */
  text-align: center;
  padding: 10vh 5vw;
  /* position: relative;*/
}

footer a {
  color: white;
  font-family: "quicksand";
  text-decoration: none;
}

/* Small devices (small laptops, tablets and phones, 1100px and down) */
@media only screen and (max-width: 1100px) {
  body {
    max-width: 100%;
    overflow-x: hidden;
  }

  h1,
  h3 {
    margin: 0.1vh 4vw;
  }
  h2 {
    font-size: 1.2em;
    font-weight: 300;
  }

  .divider {
    padding: 6vh 10vw;
    height: fit-content;
  }

  .divider h2 {
    text-align: left;
    padding: unset;
  }

  .divider p {
    padding: unset;
  }

  .section {
    height: fit-content;
    margin: unset;
    grid-template-columns: auto;
  }

  .text {
    display: block;
    margin: 0 4vw;
  }
  .left,
  .right {
    width: unset;
  }
  section p,
  .divider p {
    line-height: 1.75em;
  }

  /* .imgright {
    position: relative;
    right: unset;
    height: auto;
    width: 100vw;
    top: unset;
    z-index: 1;
    bottom: unset;
    
  } */

  #project {
    margin-top: 2vh;
  }

  /* .imgleft {
    position: relative;
    bottom: unset;
    max-height: unset;
    width: unset;
    z-index: 1;
    max-width: 90vw;
  } */
  .divider p {
    text-align: left;
  }
  .gradientbtn {
    background: linear-gradient(#daeedc, #daeedc) padding-box,
      linear-gradient(60deg, #873df5, #fffd8c) border-box;
    margin-bottom: 8vh;
  }

  video {
    max-width: 80vw;
  }
  footer {
    white-space: pre-wrap;
  }
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 800px) {
  .section .info + img {
    padding-top: 4vh;
  }
  .section img {
    width: 100%;
    height: auto;
  }

  header {
    height: unset;
    justify-content: space-around;
  }

  nav {
    display: none;
  }
}
/* Extra small devices (phones, 400px and down) */
@media only screen and (max-width: 400px) {
  .logo {
    font-size: 2em;
  }
}
