:root {
  --energizing-violet: #873df5;
  --optimistic-yellow: #fffd8c;
  --soft-grey: #d3cfdb;
  --cozy-green: #036e54;
  --hopeful-sage: #d3ecd8;
  --dark-grey: #191c1f;
  --mouse-grey: #59616a;
  /* --dark-grey: #d3cfdb; */
  --bright-grey: #efebf6;
}

@font-face {
  font-family: "darumadropone";
  src: url("DarumadropOne-Regular.ttf");
}
@font-face {
  font-family: "quicksand";
  src: url("Quicksand-VariableFont_wght.ttf");
}
html {
  scroll-behavior: smooth;
  box-sizing: border-box;

}
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  /* overflow: hidden; */
  margin: 0;
  height: 100vh;
  background-color: #191c1f;
}

.slider-container {
  position: relative;
  display: none;
  margin: auto;
  max-height: 100%;
  top: 50%;
  transform: translateY(-50%);
  width: max-content;
}
.overlay, .overlay img, .slider{
  height: 70vh;
  width: auto;
  margin: 0 auto;

}

.slider, #trigger img {
  display: block;
  object-fit: cover;
}

.slider-button {
  position: absolute;

  font-family: "quicksand";
  font-size: 20px;
  text-transform: uppercase;
  background-color: var(--energizing-violet);
  color: white;
  padding: 0.5em 1em;
  border: none;
  /* line-height: 1em; */
  height: min-content;
  width:auto;
  cursor: pointer;
}

.prev,
.next {
  bottom: 20px;
  padding: 0.25em 4em;
  display: none;
  border-radius: 0;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.last-decision,
.change-decision {
  left: 10px;
  top:10px;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
  display: none;
}
.close {
  display: none;
  position: relative;
  width: 100%;
  border-radius: 15px;
  border-top-left-radius: 0;
}
.decision {
  font-family: "quicksand";
  display: none;
  position: absolute;
  bottom: 5%;
  transform: translateY(-50%);
  width: 40%;
  right: 5%;
  border-radius: 20px 20px 0px 20px;
background: linear-gradient(306deg, rgba(135, 61, 245, 0.15) 0%, rgba(0, 0, 0, 0.00) 47.51%), #D3CFDB;
  padding: 2%;
  
}

.end{
  display: none !important;
}
.nextSliderCont {
  display: grid;
  padding: 10px 20px;
justify-content: center;
align-items: center;
gap: 10px;
  position: absolute;
  grid-template-columns: auto auto;
  bottom: 2%;
  
  right: 15%;
  justify-content: start;
  justify-items: right;
}

.choose-next-slider {
  border-radius: 0px 20px 20px 20px;
background: linear-gradient(90deg, rgba(255, 253, 140, 0.20) 17.71%, rgba(0, 0, 0, 0.00) 100%), #036E54;
  display: none;
  position: relative;
}

#video-container {
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: grid;
  justify-items: center;
  align-content: space-evenly;
}

#video-player {
  width: 60%;
  object-fit: cover;
  opacity: 0.7;
  pointer-events: none;
}

.overlay {
  position: absolute;
  display: none;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(0 0 0 / 71%);
}
#trigger {

background-color: var(--dark-grey);
  display: block;
  z-index: 100;
  box-sizing: border-box;
}



#btngroup {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  gap: 2em;
  padding: 1em 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}
#btngroup button {
  font-size: 20px;
  position: relative;
}

.landscape-instruction {
  font-family: "quicksand";

  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  background-color: white;
  padding: 1em;
  margin: 1em;
  border-radius: 10px;
  display: none;
  grid-template-columns: auto 1fr;
}
.landscape-instruction button {
  font-size: 2em;
  border: none;

  background-color: white;
  color: var(--energizing-violet);
}
/* Add this class to create a page-turning effect */
.page-turn {
  transform: rotateY(90deg);
  transition: transform 0.5s ease-in-out;
}

/* Add this class to reset the transform after the transition */
.page-turn-reset {
  transform: rotateY(0deg);
}

@media only screen and (min-width: 1500px) {
 
 
}

@media only screen and (max-width: 1500px) {
}

@media only screen and (max-width: 1100px) {
  
  .overlay, .overlay img, .slider {
    /* width: 100vw;  */
    height: 100vh;
    
}
 .slider-button{
  font-size: 12px;
 }
 .decision{
  width: 70%;
  bottom: 0;
 }
}
@media only screen and (max-width: 800px) {
  button {
    font-size: 2em;
  }
  .slider-container {
    /* width: 100vw; */
    height: 100vh;
  }
  #overlay {
    padding: 2em 0;
  }
  #overlay p {
    font-size: 1em;
  }
  #btngroup {
    
    padding: 5px 0;
   
  }
  #btngroup button {
    font-size: 12px;
    position: relative;
  }

}
@media only screen and (max-width: 600px) {
  .overlay, .overlay img, .slider {
    width: 100vw; 
    height: auto;
    
}
  #btngroup {
    
    padding: 5px 0;
   
  }
  #btngroup button {
    font-size: 10px;
    padding: 2px;
    position: relative;
  }
  .prev, .next{
    bottom: 5px;
  }
}
@media (orientation: portrait) and (max-width: 600px) {
  #video-player {
    height: auto;
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
  }
  #next-video-buttons {
    display: grid;
  }
  .slider-container {
    width: 100vw;
    height: auto;
}
  #trigger h1{
    font-size: 2em;
  }
  .nextSliderCont{
    grid-template-columns: auto auto;
  }
  .decision{
    width: 90%;
  }
  .slider-button{
    width: unset;
  }
  
}
@media (orientation: portrait) {
  .slider-container{
    top: 50%;
      transform: translateY(-50%);

  }
  .overlay, .overlay img, .slider {
    width: 100vw; 
    height: auto;
  }
  /* .btngroup {
    padding: 5px;
  } */
  #btngroup .slider-button{
    padding: 2px 10px;
  }
  .next, .prev {
    font-size: 14px;
  }
}
